@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500&display=swap");

/* ---- Base Rules ---- */

:root {
  --primary-color: #ff9999;
  --dark-color: #544179;
  --light-color: #fbffe2;
}

* {
  font-family: "Raleway", sans-serif;
  box-sizing: border-box;
  letter-spacing: 1.4px;
  color: var(--light-color);
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  background-color: var(--dark-color);
  background-attachment: fixed;
  background-image: linear-gradient(
    0deg,
    var(--primary-color) 0%,
    var(--dark-color) 100%
  );
}

/* Large Screens */
@media only screen and (min-width: 1500px) {
  :root {
    font-size: 18px;
  }
}

/* tiny Screens */
@media only screen and (max-width: 360px) {
  :root {
    font-size: 14px;
  }
}

/* ---- General Typography Rules ---- */

p {
  line-height: 1.6em;
}

/* ---- Layout Rules ---- */

main {
  margin: 5vh 1em 5vh;
}

@media only screen and (min-width: 700px) {
  main {
    margin: 10vh 2vw;
  }
}

/* ---- Module Rules ---- */

/* ---- Navigation Styles Start ---- */

.navbar__menu ul {
  width: 100vw;
  list-style: none;

  display: flex;
  justify-content: center;
  text-align: center;

  position: fixed;
  top: 0;
  z-index: 100;

  transition: all 0.3s;
}

.nav-scrolled {
  background-color: #63497c;
  box-shadow: 0 2px 4px rgb(0 0 0 / 8%), 0 8px 12px rgb(0 0 0 / 4%);
}

.navbar__menu .menu__link {
  font-weight: bold;
  text-decoration: none;
  display: inline-block;
  color: var(--light-color);
  padding: 0.5em 0;
  margin: 0.5em;
  border-top: 0.2em solid transparent;
  border-bottom: 0.2em solid transparent;
  transition: ease 0.3s all;
}

.navbar__menu .menu__link:hover,
.navbar__menu .menu__link:focus,
.navbar__menu .menu__link--active {
  border-bottom-color: var(--primary-color);
}

.navbar__menu .menu__link:focus {
  outline: var(--primary-color);
  box-shadow: 0 0 0.5em var(--light-color);
}

.navbar__menu .menu__link--active {
  color: var(--primary-color);
}

/* Medium Screens */
@media only screen and (min-width: 700px) {
  .navbar__menu ul {
    justify-content: flex-start;
    text-align: center;
    align-items: center;
    padding: 0 calc(2vw + 5vw - 1em); /* section padding + landing-container padding - nav link margin */
  }

  .navbar__menu .menu__link {
    padding: 0.5em 0;
    margin: 1em;
  }
}

/* Tiny Screens */
@media only screen and (max-width: 360px) {
  .navbar__menu .menu__link {
    font-size: 0.85em;
  }
}

/* ---- Navigation Styles End ---- */

/* ---- Sections General Style Start ---- */

section {
  position: relative;
  padding: 3em 0;
  margin: 3em 0;
}

section .landing__container .flex__container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 0 1em;
}

/* Medium Screens */
@media only screen and (min-width: 700px) {
  section .landing__container .flex__container {
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin: 0 5vw;
  }
}

/* Background Circles */

section .landing__container::before,
section .landing__container::after {
  content: "";
  background-image: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0.1) 0%,
    rgba(255, 255, 255, 0.2) 100%
  );
  position: absolute;
  z-index: -5;
  border-radius: 50%;
  opacity: 0;
  transition: ease 0.5s all;
}

/* Circles appear to be random do to use of :nth-of-type psuedo class */
section:nth-of-type(odd) .landing__container::before {
  width: 20vh;
  height: 20vh;
  top: 3em;
  right: 3em;
}

section:nth-of-type(even) .landing__container::before {
  width: 20vh;
  height: 20vh;
  top: 3em;
  left: 3em;
}

section:nth-of-type(3n) .landing__container::after {
  left: 3em;
  bottom: 3em;
  width: 10vh;
  height: 10vh;
}

section:nth-of-type(3n + 1) .landing__container::after {
  right: 20vw;
  bottom: -1em;
  width: 15vh;
  height: 15vh;
}

/* Section Active Styles */

section.your-active-class {
  background-image: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.1) 0%,
    rgba(0, 0, 0, 0) 100%
  );
}

section.your-active-class .landing__container::before {
  opacity: 1;
  animation: rotate 4s linear 0s infinite forwards;
}

section.your-active-class .landing__container::after {
  opacity: 1;
  animation: rotate 5s linear 0s infinite forwards reverse;
}

/* Section Active Styles Keyframe Animations */

@keyframes rotate {
  from {
    transform: rotate(0deg) translate(-1em) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translate(-1em) rotate(-360deg);
  }
}

/* Sections Titles Start */

h2 {
  text-align: center;
  margin: 1em auto;
  font-size: 2em;

  background-image: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.1),
    rgba(0, 0, 0, 0)
  );
}

/* Medium Screens */
@media only screen and (min-width: 700px) {
  h2 {
    font-size: 3em;
  }
}

/* ---- Sections General Style End ---- */

/* Specific Sections Styles */

/* ---- About section start ---- */

#section1 {
  display: flex;
  align-items: center;
  padding: 10vh 0;
  height: calc(100vh - 10vh - 3em); /* 100vh - padding - margin */
}

.personal-image {
  flex: 1;
}

.personal-image img {
  width: 100%;
}

.about__intro__detail {
  flex: 3;
}

.about__intro {
  display: flex;
  padding-left: 0.5em;
  border-left: var(--light-color) 0.2em solid;
  margin-bottom: 1em;
}

.about__intro .about__greeting {
  font-size: 7vw;
  color: var(--primary-color);
  line-height: 1.1;
  width: fit-content;
}

.about__intro .about__name {
  font-size: 10vw;
  color: var(--light-color);
  line-height: 1.1;
}

.about__intro .about__job-title {
  font-size: 4vw;
  width: fit-content;
  padding-top: 0.2em;
  color: var(--light-color);
  font-weight: bold;
}

.about__name span {
  font-size: 8vw;
  color: var(--primary-color);
}

.about__info .about__description {
  font-size: 4vw;
  color: var(--light-color);
  margin: 1.5em 0;
}

.about__info__link,
form button {
  display: inline-block;
  position: relative;
  outline: none;

  font-size: 1rem;
  text-decoration: none;
  font-weight: bold;
  padding: 1em 3em 1em 1.5em;
  border-radius: 10px;

  box-shadow: 0px 5px 7px 0px rgb(255, 235, 204, 18%);
  background-color: var(--light-color);
  color: var(--dark-color);
  background-image: linear-gradient(
    180deg,
    var(--primary-color),
    var(--light-color)
  );

  transition: all 0.3s ease-in-out;
}

.about__info__link::after {
  content: url("../assets/icons/file_download_black_24dp.svg");
  width: 24px;
  height: 24px;
  position: absolute;
  top: 0.8em;
  right: 1.3em;
  outline: none;
}

.about__info__link:hover,
.about__info__link:focus,
form button:focus,
form button:hover {
  transform: translateY(-2px);
}

.about__info__link:focus,
form button:focus {
  box-shadow: 0 0 0.5em var(--light-color);
}

/* Medium Screens */
@media only screen and (min-width: 700px) {
  .about__info {
    width: 50vw;
  }

  .about__intro__detail {
    width: 50vw;
  }

  .personal-image {
    position: absolute;
    right: 5vw;
  }

  .about__intro .about__greeting {
    font-size: 2.5rem;
  }

  .about__intro .about__name {
    font-size: 3.5rem;
  }

  .about__intro .about__job-title {
    font-size: 1.5rem;
  }

  .about__name span {
    font-size: 3rem;
  }

  .about__info .about__description {
    font-size: 1.5rem;
  }

  .about__info__link {
    font-size: 1rem;
  }
}

/* ---- About section end ---- */

/* ---- Skills section start ---- */

.skill {
  background-color: var(--light-color);
  box-shadow: 0 2px 4px rgb(0 0 0 / 8%), 0 8px 12px rgb(0 0 0 / 4%);
  height: 4.5em;
  padding: 1em;
  margin: 1em;
  border-radius: 1em;
  display: flex;
  align-items: center;
}

.skill img {
  height: 100%;
  margin-right: 1em;
}

.skill p {
  display: inline-block;
  color: var(--dark-color);
  font-size: 1.3rem;
  font-weight: bold;
}

/* Medium Screens */
@media only screen and (min-width: 700px) {
  #section2 .landing__container .flex__container {
    justify-content: space-around;
  }

  .skill {
    min-width: 300px;
  }
}

/* ---- Skills section end ---- */

/* ---- Projects section end ---- */

#section3 .landing__container .flex__container {
  align-items: center;
}

@media only screen and (min-width: 700px) {
  #section3 .landing__container .flex__container {
    justify-content: space-around;
    align-items: stretch;
  }
}

.project {
  background-color: var(--light-color);
  box-shadow: 0 2px 4px rgb(0 0 0 / 8%), 0 8px 12px rgb(0 0 0 / 4%);
  padding-bottom: 2em;
  margin: 1em;
  width: 100% - 2em;
  max-width: 300px;
  border-radius: 1em;
  overflow: hidden;
}

.project img {
  width: 100%;
}

.project p {
  color: var(--dark-color);
  font-size: 1.2rem;
  font-weight: bold;
  margin: 1em;
}

.project .project-code__link {
  display: block;
  width: fit-content;
  padding: 0.6em 1em;
  margin: 1em;
  border-radius: 1em;
  font-weight: bold;
  text-decoration: none;
  background-color: var(--dark-color);
  outline: none;
  transition: ease 0.3s all;
}

.project-code__link:hover,
.project-code__link:focus {
  transform: translateY(-2px);
  opacity: 0.9;
  box-shadow: 0px 5px 7px 0px rgb(255, 235, 204, 25%);
}

.project-code__link:focus {
  box-shadow: 0 0 0.5em var(--dark-color);
}

.project .project-demo__link {
  display: block;
  height: fit-content;
  outline: none;
  overflow: hidden;
  transition: ease 0.3s all;
  background-color: var(--dark-color);
}

.project .project-demo__link img {
  transition: ease 0.3s all;

  opacity: 0.8;
}

.project .project-demo__link:focus,
.project .project-demo__link:hover {
  opacity: 1;
}

.project .project-demo__link:focus img,
.project .project-demo__link:hover img {
  transform: scale(1.05);
  opacity: 1;
}
/* ---- Projects section end ---- */

/* ---- Contact Me section start ---- */

#section4 .flex__container {
  justify-content: center;
  align-items: center;
}

form {
  width: 100%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form input,
form textarea {
  display: inline-block;
  width: 100%;
  height: 4.5em;
  padding: 1.2em 1em 0.8em;
  background-color: transparent;
  border: none;
  border-bottom: 0.25em solid var(--light-color);
  outline: none;
  background-image: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0.1) 0%,
    rgba(255, 255, 255, 0.2) 100%
  );
  transition: 0.3s ease-in-out all;
}

form textarea {
  height: 10em;
  padding: 1.8em 1.3em;
}

form .name-field,
form .email-field,
form .message-field {
  width: inherit;
  position: relative;
  margin: 1.3em 0;
}

form label {
  display: inline-block;
  position: absolute;
  top: 1.2em;
  left: 1em;
  cursor: unset;
  transition: 0.3s ease-in-out all;
}

.notempty + label,
form input:focus + label,
form textarea:focus + label {
  transform: scale(0.7) translate(-1em, -1.6em);
  padding-bottom: 0.5em;
}

form input:focus + label,
form textarea:focus + label {
  color: var(--dark-color);
  font-weight: bold;
}

form input:focus,
form textarea:focus {
  border-bottom-color: var(--dark-color);
}

form button {
  width: 50%;
  max-width: 200px;
  margin: 2em auto;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 1em !important;
}

/* ---- Contact Me section end ---- */

/* ---- footer start ---- */

footer .social-links li a img {
  width: 100%;
}

footer .social-links li a {
  display: block;
  max-width: 50px;
  max-height: 50px;
  width: 10vw;
  height: 10vw;

  margin: 1em 1em 1em 0;
  transition: 0.3s ease-in-out all;
  outline: none;
  border-radius: 50px;
  background-color: #fff;
}

footer .social-links li a:hover,
footer .social-links li a:focus {
  opacity: 0.8;
  transform: translateY(-0.2em);
}

footer .social-links li a:focus {
  box-shadow: 0 0 0.5em var(--light-color);
}

footer .social-links {
  display: flex;
  list-style: none;
  align-items: center;
}

footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 0 2vw;
}

@media only screen and (min-width: 700px) {
  footer {
    justify-content: space-between;
  }
}

/* ---- footer end ---- */
